@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}


body {
    margin: 0;
    min-height: 100%;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 22px;
    line-height: 26px;
    background: #F2F2F2;
    color: #000000;
}

.page-container {
    width: 1200px;
    background-color: #FFFFFF;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* не получается липкий футер :( */
}

.mainpage-header {
    padding-left: 70px;
    padding-right: 70px;
}

.main-container {
    flex-grow: 1;
    /* не получается липкий футер :( */
}

.navigation {
    display: flex;
}



.navigation-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}



.navigation-link {
    color: inherit;
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: none;
}

.navigation-link-wanting-here {
    color: #FFFFFF;
    font-weight: 700;
    background-color: #756157;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.number-of-favorites {
    color: #FFFFFF;
    background-color: #7DB54F;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: -0.1em;
}

.main-container {
    background-image: url("../images/sedona-background-mainpage.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.search-image {
    background-image: url(".../images/search.svg");
    background-repeat: no-repeat;
}

.favorites-image {
    background-image: url(".../images/favorite.svg");
    background-repeat: no-repeat;
}

.welcome-text {
    text-align: center;
}

.advantages {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.list-of-advantages-main {
    display: flex;
    padding: 0;
}

.sedona-is-a-small-town {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.reasons-why-sedona-is-better {
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    font-weight: 400;
}

.advantages-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}


.advantages-list li:not(img) {
    width: 400px;
}

.advantages .advantages-description {
    color: #333333;
}

.main-advantage {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #82B3D3;
}

.advantages-description-main {
    color: #FFFFFF;
}

.advantages h3 {
    font-size: 24px;
    line-height: 28px;
}

.second-part-advantages-list {
    display: flex;
}

.column-direction {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    justify-content: center;
}

li.advantages-item h3 {
    text-transform: uppercase;
}

.advantage-2 {
    background-image: url("../images/advantages/living.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.advantage-3 {
    background-image: url("../images/advantages/food.svg");
    background-repeat: no-repeat;
    background-position: center;

}

.advantage-4 {
    background-image: url("../images/advantages/souvenir.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.advantage-1,
.advantage-5 {
    background-color: #82B3D3;
    display: flex;
    /* вот не знаю, как указать блокам высотуЧ, ведь нельзя поставить display block и flex одновременно */
}


.advantage-2,
.advantage-4,
.advantage-6,
.advantage-8 {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantage-7 {
    background: rgba(131, 179, 211, 0.2);
}


.interested-section {

    color: #000000;
    background-color: #FFFFFF;
    font-weight: 700;
    text-align: center;
}

.interested-question {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.select-dates {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #333333
}

.link-to-catalog {
    color: #FFFFFF;
    font-weight: 700;
    background-color: #756157;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 15px;
}


.footer-background-main-page {
    background-image: url("../images/background.jpg");
    color: #FFFFFF;
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: 100% auto;
    text-align: center;
}


.subscribe-call-to-action {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;

}

.footer-background {
    text-align: center;
}

.newsletter-button {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #82B3D3;
    font-family: inherit;
}

.footer-bottom {
    background-color: #FFFFFF;
    display: flex;
    color: #000000;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    padding: 40px 70px 30px;
    align-items: center;

}

.contact-number {
    color: #000000;
    font-size: 40px;
    line-height: 40px;
    font-style: normal;
    background-color: #FFFFFF;
    text-decoration: none;
    width: 720px;

}

.list-of-social-media {
    margin: 0;
    padding: 0;
    display: flex;
    width: 142px;
    justify-content: space-around;
}

.inner-header {
    text-transform: capitalize;
    text-align: left;
}

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
    margin: 0;
}

.breadcumbs-item {
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.breadcrumbs-item-hotels {
    color: #FFFFFF;
}

.breadcumbs {
    background-image: url("../images/arrow-to-the-right.svg");
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

fieldset {
    color: #FFFFFF;
}

.catalog-filters {
    background-image: url("../images/background-image-filters.jpg");
    background-repeat: no-repeat;
    padding-left: 70px;
    padding-top: 35px;
}

.category {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
}

section.hotel-catalog label {
    font-size: 18px;
    line-height: 21px;
}

.search-hotel {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #82B3D3;
    font-family: inherit;
    padding: 14px 15px;
}

.reset-search {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    font-family: inherit;
}

.result-of-search-container {
    display: flex;
    padding-left: 72px;
    padding-right: 73px;
}

.number-hotels-found-perpage {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: 700;
}

.the-cheapest {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    background-position: left;


}

.vision-per-page {
    background-image: url("../images/view.svg");
    background-repeat: no-repeat;
}

.product-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.product-list {
    padding: 0;
    padding-left: 73px;
    padding-right: 71px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;

}

.product-list p {

    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.product-list p.rate {

    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    background-color: #F2F2F2;
    padding: 9px 22px 8px 23px;
    display: block;
    width: 140px;
}

.button-productlist-wanting-here {
    padding: 9px 15px 8px;
}



.product-card-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.button-details {
    background-color: #756157;
    text-decoration: none;
}

.added-to-favorites {
    background-color: #7DB54F;
    text-decoration: none;
}

.button-add-to-favorites {
    background-color: #82B3D3;
    text-decoration: none;
}

.filters-bottom-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 1056px;
}

.pagination {
    margin: 0;
    padding: 0;
    display: flex;
    padding-left: 73px;
}

.pagination-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    background: #82B3D3;
    width: 60px;
    height: 60px;
    display: block;
    margin-right: 8px;
    box-sizing: border-box;
    padding-top: 11px;

}

.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
}

.number-of-hotels-shown-perpage {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    background-position: right;
    display: block;
    margin-right: 51px;
}

.number-of-hotels-shown-perpage-container {
    display: flex;
    padding-right: 71px;
}

.number-of-hotels-option {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.website-developer {
    width: 115px;
}

.button-productlist-wanting-here {
    padding: 9px 15px 8px;
}