@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


body {
    margin: 0;
    min-height: 100%;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 22px;
    line-height: 26px;
    background: #F2F2F2;
    color: #000000;
    display: flex;
    flex-direction: column;
}

.page-container {
    width: 1200px;
    background-color: #FFFFFF;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}

.mainpage-header {
    padding-left: 70px;
    padding-right: 70px;
}

.navigation-logo {
    margin-right: 30px;
}

.main-container {
    flex-grow: 1;
}

.main-container-inner {
    flex-grow: 1;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.navigation-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    /* не понимаю, почему навигация съехала вниз */
}

.navigation-main-items {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
    padding-left: 17px;
    width: 490px;
}

.navigation-user {
    display: flex;
    padding: 0;
    margin: 0;
    padding-left: 12px;
    justify-items: flex-end;
    list-style-type: none;
    align-items: center;
    /* не понимаю, почему кнопка "хочу сюда" не выровнялась */
}


.navigation-link {
    color: inherit;
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: none;
    display: block;
    height: 66px;
    margin-right: 34px;
    list-style-type: none;
    padding-top: 20px;
}


.navigation-user .navigation-list-item {
    min-width: 42px;
    min-height: 18px;
}

.navigation-main-items .navigation-list-item:last-child a {
    margin-right: 62px;
}

.navigation-link-wanting-here {
    color: #FFFFFF;
    font-weight: 700;
    background-color: #756157;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.number-of-favorites {
    color: #FFFFFF;
    background-color: #7DB54F;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: -0.1em;
}


.search-image {
    background-image: url(".../images/search.svg");
    background-repeat: no-repeat;
}

.favorites-image {
    background-image: url(".../images/favorite.svg");
    background-repeat: no-repeat;
}

.welcome-text {
    text-align: center;
    margin-bottom: 57px;
    background-image: url("../images/sedona-background-mainpage.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-top: 51px;
    padding-bottom: 82px;
    margin-bottom: 0;
}

.advantages {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    padding-top: 63px;
    margin-bottom: 103px;
}

.list-of-advantages-main {
    display: flex;
    padding: 0;
    list-style-type: none;
}

.sedona-is-a-small-town {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 31px;
}

.advantages-canyon-picture {
    order: -1;
}

.reasons-why-sedona-is-better {
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    font-weight: 400;
    display: block;
    margin-bottom: 90px;
    margin-top: 0;
}

.advantages-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    list-style-type: none;
}

.advantages .advantages-description {
    color: #333333;
}

.main-advantage {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #82B3D3;
}

.advantages-description-main {
    color: #FFFFFF;
}

.advantages h3 {
    font-size: 24px;
    line-height: 28px;
    margin: 0;
}

.column-direction p {
    margin-top: 0;
    margin-bottom: 30px;
}

.second-part-advantages-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.column-direction {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 384px;
    padding: 20px;
    width: 400px;
    min-height: 384px;
}


.list-of-advantages-main .column-direction {
    padding-top: 80px;
}

.second-part-advantages-list .column-direction {
    padding-top: 103px;
}

li.advantages-item h3 {
    text-transform: uppercase;
    margin-bottom: 30px;
}


.list-of-advantages-main .advantages-item {
    padding-top: 182px;
}



.advantage-2 {
    background-image: url("../images/advantages/living.svg");
    background-repeat: no-repeat;
    background-position: 163px 80px;
}

.advantage-3 {
    background-image: url("../images/advantages/food.svg");
    background-repeat: no-repeat;
    background-position: 163px 80px;
}

/* не понимаю , как поместить иконки в преимуществах */

.advantage-4 {
    background-image: url("../images/advantages/souvenir.svg");
    background-repeat: no-repeat;
    background-position: 168px 80px;
}

.advantage-1,
.advantage-5 {
    background-color: #82B3D3;
    display: flex;
}

.real-city {
    padding-top: 92px;
}

.bridge-advantage {
    background-color: #82B3D3;
    display: flex;
    padding-top: 92px;
}


.advantage-2,
.advantage-4,
.advantage-6,
.advantage-8 {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantage-7 {
    background: rgba(131, 179, 211, 0.2);
}


.interested-section {
    color: #000000;
    background-color: #FFFFFF;
    font-weight: 700;
    text-align: center;
}

.link-to-catalog-button {
    margin-bottom: 93px;
}

.interested-question {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 29px;
}

.select-dates {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #333333
}

.link-to-catalog {
    color: #FFFFFF;
    font-weight: 700;
    background-color: #756157;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 15px;
}


.footer-background-main-page {
    background-image: url("../images/background.jpg");
    color: #FFFFFF;
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: 100% auto;
    text-align: center;
    padding-bottom: 94px;
    padding-top: 92px;
}


.subscribe-call-to-action {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 29px;

}

.newsletter-form {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.footer-background {
    text-align: center;
    padding-bottom: 94px;
    padding-top: 94px;
}

.footer-background-main-page {
    padding-top: 94px;
}

.only-useful-info {
    margin-bottom: 46px;
    margin-top: 0;
}

.newsletter-button {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #82B3D3;
    font-family: inherit;
    padding: 12px 15px;
}

.input-email-subscribe {
    width: 600px;
    padding-left: 22px;
    padding-top: 20px;
    padding-bottom: 19px;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background: #F2F2F2;
}

.footer-bottom {
    background-color: #FFFFFF;
    display: flex;
    color: #000000;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    padding: 45px 70px 30px;
    align-items: center;

}

.contact-number {
    color: #000000;
    font-size: 40px;
    line-height: 40px;
    font-style: normal;
    background-color: #FFFFFF;
    text-decoration: none;
    width: 720px;

}

.list-of-social-media {
    margin: 0;
    padding: 0;
    display: flex;
    width: 142px;
    list-style-type: none;
    flex-wrap: wrap;
}

.social-media-link {
    margin-right: 0;
    width: 47px;
    height: 40px;
    display: block;
    text-align: center;
    padding-top: 12px;
}


.social-media-item:last-child {
    margin-right: 0;
}

.inner-header {
    text-transform: capitalize;
    text-align: left;
}

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 10px;
}

.breadcumbs-item {
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    margin-right: 25px;
}

.breadcumbs-item:last-child {
    margin-right: 0;
}

.breadcrumbs-item-hotels {
    color: #FFFFFF;
    text-decoration: none;
}

.breadcumbs {
    /* background-image: url("../images/arrow-to-the-right.svg");
    background-repeat: no-repeat; */
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
}

.breadcumbs-link-to-mainpage {
    background-image: url("../images/union.svg");
    background-repeat: no-repeat;
    background-position: center;
    min-width: 12px;
    min-height: 12px;
    display: block;
}

fieldset {
    color: #FFFFFF;
}

.catalog-filters {
    background-image: url("../images/background-image-filters.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 70px;
    padding-top: 35px;
}

.category {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
}

section.hotel-catalog label {
    font-size: 18px;
    line-height: 21px;
}

.search-hotel {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #82B3D3;
    font-family: inherit;
    padding: 14px 15px;
}

.reset-search {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    font-family: inherit;
}

.result-of-search-container {
    display: flex;
    padding-left: 72px;
    padding-right: 71px;
    padding-top: 55px;
    margin-bottom: 56px;
    justify-content: space-between;
}

.number-hotels-found-perpage {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
}

.the-cheapest {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    background-position: left;
}

.vision-per-page {
    display: flex;
}

.vision-per-page .button {
    width: 48px;
    height: 48px;
    margin-right: 8px;
}

.vision-per-page .button:last-child {
    margin-right: 0;
}

.button-show-gallery {
    background-image: url("../images/catalog-page-view/show-gallery.svg");
    background-repeat: no-repeat;
}

.button-one-product-per-page {
    background-image: url("../images/catalog-page-view/one-product-per-page.svg");
    background-repeat: no-repeat;
}

.button-show-list {
    background-image: url("../images/catalog-page-view/show-list.svg");
    background-repeat: no-repeat;
}


.product-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.product-list {
    padding: 0;
    padding-left: 73px;
    padding-right: 71px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    list-style-type: none;


}

.product-list p {

    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.product-list p.rate {

    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    background-color: #F2F2F2;
    padding: 9px 22px 8px 23px;
    display: block;
    width: 140px;
}

.navigation-link-wanting-here {
    padding: 9px 15px 8px;
    width: 160px;
    display: block;
}



.product-card-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.button-details {
    background-color: #756157;
    text-decoration: none;
}

.added-to-favorites {
    background-color: #7DB54F;
    text-decoration: none;
}

.button-add-to-favorites {
    background-color: #82B3D3;
    text-decoration: none;
}

.filters-bottom-container {
    margin: 0;
    padding: 0;
    padding-left: 73px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.pagination {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

.pagination-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    background: #82B3D3;
    width: 60px;
    height: 60px;
    display: block;
    margin-right: 8px;
    padding-top: 11px;

}

.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
}

.number-of-hotels-shown-perpage {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.number-of-hotels-select {
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    background-position: right;
    display: block;
    margin-left: auto;
    /* не понимаю, почему элемент не прижался к правому краю */
    width: 160px;
}

.select-dates-mainpage {
    margin-top: 0;
    margin-bottom: 56px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
}

.number-of-hotels-shown-perpage-container {
    display: flex;
    padding-right: 71px;
}

.number-of-hotels-option {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    padding-left: 20px;
    /* не сработало */
}

.website-developer {
    width: 115px;
}