@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  html {
    height: 100%;
  }


  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif; 
    font-size: 22px;
    line-height: 26px;
    background: #F2F2F2;
    color: #000000;
  }

  .page-container {
    width: 1200px;
    background-color: #FFFFFF;
    margin: 0 auto;
  }

  .main-container {
    flex-grow: 1;
  }

  .main-page-container {
    width: 1200px;
    margin: 0 auto;
  }

  .navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
  }

  /** не понимаю, как сделать горизонтальное положение пунктов навигации **/

  .navigation-list {
    margin: 0;
    padding: 0;
    width: 400px; /* не поняла, как рассчитать здесь ширину */
  }



  .navigation-user {
    max-width: 300px;
    margin-left: auto;
  }

.navigation-link {
    color: inherit;
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: none;
    }

    .navigation-user {
        background-image: url(".../images/search.svg");
        background-image: url(".../images/favorite.svg");
    }

    /** Не поняла, как добавить две декоративные картинки. В одном правиле? **/

    .navigation-logo {
        width: 139px;
        margin-right: 47px;
    }

    /* не понимаю, почему не получается горизонтально поместить логотип и навигацию */

.navigation-link-wanting-here {
    color: #FFFFFF;
    font-weight: 700;
    background-color: #756157;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
 }

 .number-of-favorites {
    color: #FFFFFF;
    background-color: #7DB54F;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: -0.1em;
 }

.main-index {
    background-image: url("../images/sedona-background-mainpage.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.welcome-text {
    text-align: center;
}

.advantages {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.sedona-is-a-small-town {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.reasons-why-sedona-is-better {
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    font-weight: 400;
}

.advantages-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* не понимаю, какие паддингы указать для флексбокса advantages-list т.к. у каждого преимущества паддинги отличаются */

.advantages-list li:not(img) {
    width: 400px;
}

.advantages .advantages-description {
    color: #333333;
}

.main-advantage {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #82B3D3;
}

.advantages-description-main {
    color: #FFFFFF;
}

.advantages h3 {
    font-size: 24px;
    line-height: 28px;
}

li.advantages-item h3 {
text-transform: uppercase;
}

.advantage-2 {
    background-image: url("../images/advantages/living.svg");
    background-repeat: no-repeat;
}

.advantage-3 {
    background-image: url("../images/advantages/food.svg");
    background-repeat: no-repeat;
    
}

.advantage-4 {
    background-image: url("../images/advantages/souvenir.svg");
    background-repeat: no-repeat;
}

.advantage-1, .advantage-5 {
    background-color: #82B3D3;
}


.advantage-2, .advantage-4, .advantage-6, .advantage-8 {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantage-7 {
    background: rgba(131, 179, 211, 0.2);
}
  

.interested-section {
    
    color: #000000;
    background-color: #FFFFFF;
    font-weight: 700;
    text-align: center;
}

.interested-question {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.select-dates {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #333333
}

.link-to-catalog {
    color: #FFFFFF;
    font-weight: 700;
    background-color: #756157;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    text-decoration: none;
/** не поняла, почему  цвет ссыли не меняется **/
}


.footer-subscribe {
    background-image: url("../images/background.jpg");
    color: #FFFFFF;
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: 100% auto;
    text-align: center;
}


.subscribe-call-to-action {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    
}

.footer-background {
    text-align: center;
}

.newsletter-button {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #82B3D3;
    font-family: inherit;
}

.footer-bottom {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    padding: 0;
    margin: 0;
    align-items: center; /** не понимаю, почему не работает вертикальное выравнивание **/
}

.contact-number {
    color:#000000;
    font-size: 40px;
    line-height: 40px;
    font-style: normal;
    background-color: #FFFFFF;
    text-decoration: none;
    width: 720px;
    margin-left: 40px;
    margin-right: 40px;

}

.list-of-social-media {
    margin: 0;
    padding: 0;
    display: flex;
    width: 142px;
    justify-content: space-around;
}

.inner-header {
    text-transform: capitalize;
    text-align: left;
}

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
}

.breadcumbs-item
{
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.breadcumbs {
    background-image: url("../images/arrow-to-the-right.svg");
    background-repeat: no-repeat;
}

fieldset {
    color: #FFFFFF;
}

.catalog-filters {
    background-image: url("../images/background-image-filters.jpg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row; /* не понимаю, почему элементы не выстроились горизонтально */
    width: 1200px;
    margin: 0 auto;
    justify-content: flex-start;


}

.category {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
}

section.hotel-catalog label {
    font-size: 18px;
    line-height: 21px;
}

.search-hotel {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #82B3D3;
    font-family: inherit;
}

.reset-search {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    font-family: inherit;
}

.result-of-search-container {
    display: flex;
    flex-direction: row;
}

.number-hotels-found-perpage {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: 700;
}

.the-cheapest {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    background-position: left;


}

.vision-per-page {
    background-image: url("../images/view.svg");
    background-repeat: no-repeat;
}

.product-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.product-list {
    margin: 20px;
    padding: 0;
    display: flex;
    width: 1055px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.product-list p{

    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.product-list p.rate{

    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    background-color: #F2F2F2;
}

.product-card-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.button-details {
    background-color: #756157;
    text-decoration: none;
}

.added-to-favorites {
    background-color: #7DB54F; 
    text-decoration: none;
}

.button-add-to-favorites {
    background-color: #82B3D3; 
    text-decoration: none;
}

.filters-bottom-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1056px;
}

.pagination {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 656px;  /* не понимаю, как сделать так, чтобы навигация по страницам не выезжала за край */
}

.pagination-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #82B3D3;
}

.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
}

.number-of-hotels-shown-perpage {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    background-position: right;
}

.number-of-hotels-option {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.website-developer {
    width: 115px;
}
